In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("C:/Users/4yush/Desktop/datasets/daily_prices.csv")

In [6]:
df.head(10)

         date     open    high      low   close     volume symbol
0  2025-08-18  231.700  233.12  230.110  230.89   37476188   AAPL
1  2025-08-15  234.000  234.28  229.335  231.59   56038657   AAPL
2  2025-08-14  234.055  235.12  230.850  232.78   51916275   AAPL
3  2025-08-13  231.070  235.00  230.430  233.33   69878546   AAPL
4  2025-08-12  228.005  230.80  227.070  229.65   55672301   AAPL
5  2025-08-11  227.920  229.56  224.760  227.18   61806132   AAPL
6  2025-08-08  220.830  231.00  219.250  229.35  113853967   AAPL
7  2025-08-07  218.875  220.85  216.580  220.03   90224834   AAPL
8  2025-08-06  205.630  215.38  205.590  213.25  108483103   AAPL
9  2025-08-05  203.400  205.34  202.160  202.92   44155079   AAPL

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    400 non-null    object
 1   open    400 non-null    float64
 2   high    400 non-null    float64
 3   low     400 non-null    float64
 4   close   400 non-null    float64
 5   volume  400 non-null    int64
 6   symbol  400 non-null    object
dtypes: float64(4), int64(1), object(2)
memory usage: 22.0+ KB

In [8]:
df.describe()

             open        high         low       close        volume
count  400.000000  400.000000  400.000000  400.000000  4.000000e+02
mean   261.113977  264.153145  258.357141  261.353000  4.243071e+07
std    118.837681  119.288808  118.251827  118.751901  2.444551e+07
min    141.550000  148.945000  140.530000  144.700000  1.184659e+07
25%    186.212500  190.322500  183.815000  188.210000  2.670183e+07
50%    208.257500  210.288250  205.670000  208.140000  3.728322e+07
75%    264.547500  268.517500  260.385000  264.222500  5.135226e+07
max    555.225000  555.450000  531.900000  535.640000  1.843959e+08

In [9]:
df['date'] = pd.to_datetime(df['date'])
df.sort_values(['symbol', 'date']).reset_index(drop = True)
df['symbol'].unique()

array(['AAPL', 'GOOGL', 'MSFT', 'AMZN'], dtype=object)

In [10]:
print(df.isnull().sum())
print(f"Number of duplicate rows: {df.duplicated().sum()}")

date      0
open      0
high      0
low       0
close     0
volume    0
symbol    0
dtype: int64
Number of duplicate rows: 0

# Moving Averages: 
### These are a cornerstone of financial analysis. They smooth out short-term price fluctuations to reveal longer-term trends.

In [11]:
df['MA50'] = df.groupby('symbol')['close'].transform(lambda x: x.rolling(window=50).mean())
df['MA200'] = df.groupby('symbol')['close'].transform(lambda x: x.rolling(window=200).mean())

In [12]:
df['daily_return'] = df.groupby('symbol')['close'].pct_change()

# Volatility: 
### Calculate the rolling standard deviation of daily returns to measure risk. High volatility means the price is changing dramatically.

In [13]:
df['volatility'] = df.groupby('symbol')['daily_return'].transform(lambda x: x.rolling(window=30).std())

In [43]:
processed_df = df.copy()
processed_df.to_pickle('processed_stock_data.pkl')